<!-- templates/builder.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Expression</title>
</head>
<body>
<h2>Create New Operation</h2>
<form th:action="@{/operations/save}" method="post" th:object="${operation}">
    <label>Name:</label><br>
    <input type="text" th:field="*{name}"/><br><br>

    <label>Expression:</label><br>
    <textarea th:field="*{expression}" rows="5" cols="50"></textarea><br><br>

    <label>Active:</label>
    <input type="checkbox" th:field="*{active}"/><br><br>

    <button type="submit">Save</button>
</form>
</body>
</html>

